# **Movie Recommendation System**

## **importing neccessary modules**

In [79]:
import pandas as pd
import numpy as np
import re
from nltk.stem.porter import PorterStemmer

## **importing dataset**

In [80]:
# importing dataset
df=pd.read_csv('data.csv')

In [81]:
# checking shape of data
df.shape

(1000, 16)

In [82]:
# taking 5 samples
df.sample(5)

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
715,https://m.media-amazon.com/images/M/MV5BMmVkOT...,Bringing Up Baby,1938,Passed,102 min,"Comedy, Family, Romance",7.8,While trying to secure a $1 million donation f...,91.0,Howard Hawks,Katharine Hepburn,Cary Grant,Charles Ruggles,Walter Catlett,55163,NaN
649,https://m.media-amazon.com/images/M/MV5BODg0Yj...,The Insider,1999,UA,157 min,"Biography, Drama, Thriller",7.8,A research chemist comes under personal and pr...,84.0,Michael Mann,Russell Crowe,Al Pacino,Christopher Plummer,Diane Venora,159886,"28,965,197"
569,https://m.media-amazon.com/images/M/MV5BMTlkMm...,The Gentlemen,2019,A,113 min,"Action, Comedy, Crime",7.8,An American expat tries to sell off his highly...,51.0,Guy Ritchie,Matthew McConaughey,Charlie Hunnam,Michelle Dockery,Jeremy Strong,237392,NaN
641,https://m.media-amazon.com/images/M/MV5BMTI1ND...,Gongdong gyeongbi guyeok JSA,2000,NaN,110 min,"Action, Drama, Thriller",7.8,After a shooting incident at the North/South K...,58.0,Chan-wook Park,Lee Yeong-ae,Lee Byung-Hun,Kang-ho Song,Kim Tae-Woo,26518,NaN
441,https://m.media-amazon.com/images/M/MV5BMDE5Zj...,The Killing,1956,Approved,84 min,"Crime, Drama, Film-Noir",8.0,Crook Johnny Clay assembles a five man team to...,91.0,Stanley Kubrick,Sterling Hayden,Coleen Gray,Vince Edwards,Jay C. Flippen,81702,NaN

In [83]:
# checking null values
df.isna().sum()

Poster_Link        0
Series_Title       0
Released_Year      0
Certificate      101
Runtime            0
Genre              0
IMDB_Rating        0
Overview           0
Meta_score       157
Director           0
Star1              0
Star2              0
Star3              0
Star4              0
No_of_Votes        0
Gross            169
dtype: int64

In [85]:
# feature selection
# selected features Poster_Link , Series_Title , Released_Year , Genre  , Overview , Star1 , Star2 , Star3 , Star4 , Director
df = df[['Poster_Link', 'Series_Title', 'Released_Year', 'Genre', 'Overview', 'Star1', 'Star2', 'Star3', 'Star4', 'Director']]

In [84]:
# checking for duplicates rows
df.duplicated().sum() # no duplicate rows

0

## **Data preprocessing**

In [86]:
#  Combines features into a single tag column.
def combine_features(data):
  data['Genre'] = data['Genre'].str.replace(',', '')
  data['tag'] = data['Overview'] + ' ' + data['Star1'] + ' ' + data['Star2'] + ' ' + data['Star3'] + ' ' + data['Star4'] + ' ' + data['Director'] + ' ' + data['Released_Year']
  return data

In [87]:
# applying above method
df = combine_features(df)
df = df[["Poster_Link","Series_Title","tag"]]

In [88]:
df.sample(5)

,Poster_Link,Series_Title,tag
138,https://m.media-amazon.com/images/M/MV5BMTgwNz...,Mandariinid,"In 1992, war rages in Abkhazia, a breakaway re..."
856,https://m.media-amazon.com/images/M/MV5BM2Y1ZT...,The Dirty Dozen,"During World War II, a rebellious U.S. Army Ma..."
649,https://m.media-amazon.com/images/M/MV5BODg0Yj...,The Insider,A research chemist comes under personal and pr...
634,https://m.media-amazon.com/images/M/MV5BOWE2MD...,Serenity,The crew of the ship Serenity try to evade an ...
810,https://m.media-amazon.com/images/M/MV5BMTQzMz...,Shine,"Pianist David Helfgott, driven by his father a..."

In [89]:
# downloading stopwords from nltk
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [90]:
# printing stopwords
from nltk.corpus import stopwords
print(stopwords.words('english'))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [91]:
# stemming the words
port_stem = PorterStemmer()
def stemming(text):
  stem_text=re.sub('[^a-zA-Z0-9 ]',' ',text).lower().split()
  stem_text=[port_stem.stem(word) for word in stem_text if not word in stopwords.words('english')]
  stem_text = ' '.join(stem_text)
  return stem_text

In [92]:
# apply method
df['tag']=df['tag'].apply(stemming)

In [73]:
df[:3]['tag']

0    1000
1    1000
2    1000
Name: tag, dtype: int64

In [100]:
# vectorization of text
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(max_features=1000)
vectorized_data = vectorizer.fit_transform(df['tag']).toarray()

(1000, 1000)

In [97]:
vectorizer.vocabulary_

{'two': 930,
 'imprison': 456,
 'men': 612,
 'bond': 154,
 'year': 995,
 'find': 355,
 'redempt': 752,
 'act': 69,
 'tim': 904,
 'morgan': 630,
 'freeman': 375,
 'bob': 151,
 'william': 974,
 'frank': 371,
 '1994': 37,
 'crime': 252,
 'age': 74,
 'empir': 319,
 'son': 842,
 'al': 80,
 'pacino': 679,
 'jame': 473,
 'dian': 293,
 'keaton': 517,
 'franci': 370,
 'ford': 361,
 'coppola': 244,
 '1972': 18,
 'known': 533,
 'peopl': 694,
 'must': 642,
 'one': 672,
 'physic': 701,
 'fight': 350,
 'christian': 216,
 'bale': 126,
 'michael': 614,
 'cain': 180,
 'christoph': 218,
 'nolan': 659,
 '2008': 51,
 'earli': 307,
 'life': 564,
 'career': 189,
 'new': 653,
 'york': 997,
 'citi': 219,
 'famili': 342,
 'robert': 775,
 'de': 271,
 'niro': 658,
 '1974': 20,
 'attempt': 119,
 'prevent': 722,
 'forc': 360,
 'henri': 426,
 'fonda': 359,
 'lee': 553,
 'martin': 597,
 'john': 496,
 'sidney': 829,
 '1957': 7,
 'lead': 548,
 'world': 989,
 'armi': 109,
 'sam': 796,
 'ring': 770,
 'wood': 985,
 'mortensen': 631,
 'ian': 452,
 'mckellen': 606,
 'bloom': 148,
 'peter': 698,
 'jackson': 470,
 '2003': 46,
 'live': 570,
 'mob': 626,
 'boxer': 158,
 'gangster': 384,
 'wife': 971,
 'pair': 680,
 'bandit': 128,
 'four': 365,
 'tale': 883,
 'violenc': 948,
 'samuel': 797,
 'bruce': 172,
 'willi': 973,
 'quentin': 736,
 'tarantino': 885,
 'german': 389,
 'war': 957,
 'ii': 454,
 'becom': 135,
 'jewish': 487,
 'wit': 978,
 'nazi': 648,
 'liam': 563,
 'ralph': 742,
 'ben': 140,
 'steven': 864,
 'spielberg': 851,
 '1993': 36,
 'thief': 897,
 'steal': 861,
 'secret': 809,
 'use': 941,
 'dream': 303,
 'share': 824,
 'leonardo': 560,
 'dicaprio': 294,
 'joseph': 503,
 'gordon': 401,
 'ken': 520,
 '2010': 53,
 'offic': 664,
 'worker': 988,
 'may': 603,
 'care': 188,
 'form': 362,
 'brad': 160,
 'pitt': 705,
 'edward': 312,
 'norton': 662,
 'david': 269,
 'fincher': 354,
 '1999': 42,
 'eight': 313,
 'set': 818,
 'journey': 506,
 'destroy': 289,
 'power': 718,
 'save': 801,
 'middl': 616,
 'earth': 308,
 'dark': 266,
 'lord': 578,
 'sean': 807,
 '2001': 44,
 'presid': 721,
 'kennedi': 521,
 'johnson': 498,
 'event': 333,
 'man': 588,
 'whose': 969,
 'childhood': 213,
 'tom': 909,
 'hank': 415,
 'robin': 776,
 'wright': 991,
 'gari': 385,
 'bounti': 157,
 'hunt': 448,
 'join': 499,
 'race': 738,
 'gold': 399,
 'clint': 224,
 'eastwood': 310,
 'van': 942,
 'sergio': 814,
 'leon': 559,
 '1966': 13,
 'help': 425,
 'make': 587,
 'stand': 854,
 'alli': 92,
 '2002': 45,
 'beauti': 134,
 'stranger': 870,
 'discov': 299,
 'truth': 928,
 'know': 532,
 'evil': 335,
 'intellig': 463,
 'laurenc': 544,
 'carri': 192,
 'ann': 103,
 'stori': 869,
 'hill': 429,
 'relationship': 754,
 'partner': 686,
 'american': 96,
 'ray': 744,
 'joe': 493,
 'pesci': 697,
 'scorses': 805,
 '1990': 33,
 'rebel': 749,
 'brutal': 174,
 'planet': 708,
 'begin': 137,
 'train': 919,
 'friend': 377,
 'pursu': 734,
 'hunter': 449,
 'name': 646,
 'mark': 594,
 'harrison': 419,
 'billi': 146,
 '1980': 25,
 'crimin': 253,
 'insan': 461,
 'mental': 613,
 'oppress': 673,
 'patient': 689,
 'jack': 469,
 'nicholson': 655,
 '1975': 21,
 'real': 746,
 'america': 95,
 'father': 346,
 'first': 356,
 'alexand': 86,
 'captur': 186,
 'broadway': 167,
 'richard': 767,
 'origin': 675,
 'jr': 507,
 'thoma': 899,
 '2020': 63,
 'class': 223,
 'threaten': 902,
 'wealthi': 964,
 'park': 683,
 'kim': 528,
 'kang': 513,
 'ho': 433,
 'song': 843,
 'woo': 984,
 '2019': 62,
 'process': 727,
 'take': 880,
 'sever': 820,
 'enemi': 323,
 'way': 961,
 'team': 890,
 'travel': 921,
 'space': 847,
 'human': 446,
 'surviv': 876,
 'matthew': 601,
 'mcconaughey': 605,
 'jessica': 486,
 '2014': 57,
 'kid': 524,
 'path': 688,
 'struggl': 872,
 'move': 634,
 'old': 666,
 'girl': 393,
 'wander': 955,
 'rule': 786,
 'god': 397,
 'spirit': 853,
 'chang': 206,
 'hayao': 423,
 'miyazaki': 625,
 'follow': 358,
 'land': 540,
 'group': 408,
 'soldier': 841,
 'go': 396,
 'behind': 138,
 'line': 567,
 'brother': 170,
 'kill': 526,
 'matt': 600,
 'damon': 260,
 '1998': 41,
 'death': 275,
 'charg': 209,
 'black': 147,
 'accus': 67,
 'child': 212,
 'murder': 637,
 'rape': 743,
 'yet': 996,
 'mysteri': 644,
 'gift': 392,
 'clark': 222,
 'victim': 944,
 'perfect': 695,
 'protect': 731,
 'danger': 262,
 'around': 110,
 'camp': 183,
 '1997': 40,
 'detect': 290,
 'veteran': 943,
 'killer': 527,
 'seven': 819,
 'deadli': 273,
 'kevin': 522,
 'andrew': 101,
 '1995': 38,
 'young': 998,
 'receiv': 750,
 'catch': 196,
 'anoth': 105,
 'foster': 364,
 'anthoni': 107,
 'hopkin': 440,
 'lemmon': 557,
 'jonathan': 501,
 '1991': 34,
 'battl': 133,
 'station': 859,
 'rescu': 758,
 'princess': 724,
 'alec': 84,
 'georg': 388,
 'told': 908,
 'visit': 950,
 'reveal': 763,
 'past': 687,
 'challeng': 202,
 'tatsuya': 887,
 'nakadai': 645,
 'akira': 78,
 '1962': 10,
 'poor': 715,
 'villag': 946,
 'attack': 118,
 'recruit': 751,
 'samurai': 798,
 'defend': 279,
 'toshir': 913,
 'mifun': 617,
 'kurosawa': 538,
 '1954': 5,
 'angel': 102,
 'sent': 813,
 'desper': 287,
 'frustrat': 379,
 'show': 827,
 'would': 990,
 'like': 565,
 'never': 652,
 'exist': 338,
 'stewart': 865,
 'mitchel': 624,
 'troubl': 926,
 'arthur': 113,
 'societi': 840,
 'embark': 315,
 'bring': 165,
 'face': 340,
 'phoenix': 700,
 'franc': 369,
 'todd': 906,
 'music': 640,
 'great': 406,
 'stop': 868,
 'realiz': 748,
 'student': 873,
 'mile': 619,
 'paul': 692,
 'accid': 66,
 'hire': 430,
 'fran': 368,
 'oi': 665,
 'le': 547,
 'olivi': 670,
 '2011': 54,
 'creat': 250,
 'ultim': 932,
 'hugh': 445,
 'scarlett': 802,
 'johansson': 495,
 '2006': 49,
 'undercov': 935,
 'cop': 243,
 'polic': 713,
 'irish': 466,
 'gang': 383,
 'south': 845,
 'musician': 641,
 'fox': 366,
 'roman': 779,
 'polanski': 712,
 'former': 363,
 'gener': 387,
 'corrupt': 245,
 'russel': 789,
 'crow': 255,
 'oliv': 669,
 'ridley': 768,
 'scott': 806,
 '2000': 43,
 'tri': 923,
 'wrong': 994,
 'jennif': 482,
 'toni': 910,
 'survivor': 877,
 'tell': 893,
 'boat': 150,
 'five': 357,
 'gabriel': 381,
 'stephen': 862,
 'bryan': 175,
 'singer': 832,
 'taken': 881,
 'profession': 728,
 'assassin': 116,
 'learn': 550,
 'jean': 480,
 'oldman': 668,
 'danni': 264,
 'princ': 723,
 'uncl': 933,
 'want': 956,
 'rob': 773,
 'jeremi': 483,
 'jone': 502,
 'ident': 453,
 'sarah': 800,
 'connor': 239,
 'teenag': 891,
 'linda': 566,
 'patrick': 691,
 'cameron': 182,
 'fall': 341,
 'love': 581,
 'home': 438,
 'deep': 278,
 'friendship': 378,
 '1988': 31,
 'boy': 159,
 'littl': 569,
 'sister': 835,
 'high': 428,
 'school': 803,
 'time': 905,
 'scientist': 804,
 'brown': 171,
 'lloyd': 571,
 'thompson': 900,
 '1985': 28,
 'widow': 970,
 'ruthless': 792,
 'work': 987,
 'charl': 210,
 'jason': 479,
 '1968': 15,
 '000': 0,
 'employ': 320,
 'goe': 398,
 'run': 787,
 'mother': 632,
 'leigh': 556,
 'alfr': 88,
 'hitchcock': 432,
 '1960': 9,
 'owner': 678,
 'decid': 277,
 'lover': 582,
 'husband': 450,
 'escap': 329,
 'french': 376,
 'humphrey': 447,
 'bogart': 153,
 'bergman': 141,
 'woman': 981,
 'chaplin': 207,
 'aid': 77,
 'money': 627,
 'harri': 418,
 'serv': 816,
 'violent': 949,
 'parent': 681,
 'treasur': 922,
 '2018': 61,
 '1950': 3,
 'korean': 535,
 'see': 810,
 'jin': 489,
 '2017': 60,
 'simon': 830,
 'conflict': 235,
 'connect': 237,
 'thing': 898,
 'keep': 518,
 'apart': 108,
 'ry': 793,
 '2016': 59,
 'singh': 833,
 'daughter': 267,
 'game': 382,
 'aamir': 64,
 'khan': 523,
 'univers': 939,
 'threat': 901,
 'realiti': 747,
 'moor': 629,
 'jake': 472,
 'aveng': 122,
 'ruin': 784,
 'remain': 756,
 'order': 674,
 'russo': 791,
 'downey': 302,
 'chri': 215,
 'evan': 331,
 'ruffalo': 783,
 'put': 735,
 'end': 322,
 'aspir': 115,
 'confront': 236,
 'enter': 326,
 'dead': 272,
 'legendari': 555,
 'jami': 474,
 'washington': 959,
 '2012': 55,
 'terrorist': 896,
 'hardi': 417,
 'search': 808,
 'long': 576,
 'lost': 579,
 'colleg': 229,
 'day': 270,
 'memori': 611,
 'inspir': 462,
 'differ': 296,
 'even': 332,
 'call': 181,
 '2009': 52,
 'art': 112,
 'teacher': 889,
 '2007': 50,
 'futur': 380,
 'small': 838,
 'fate': 345,
 'jeff': 481,
 'fred': 372,
 '1984': 27,
 'east': 309,
 'agent': 75,
 'writer': 993,
 'ulrich': 931,
 'von': 951,
 'kidnap': 525,
 'releas': 755,
 'chan': 204,
 'track': 917,
 'guy': 410,
 'curs': 258,
 'quest': 737,
 'meet': 608,
 'san': 799,
 'ko': 534,
 'era': 327,
 'return': 762,
 'side': 828,
 'later': 542,
 'elizabeth': 314,
 'adventur': 71,
 'govern': 402,
 'allen': 91,
 'davi': 268,
 'isol': 468,
 'hotel': 441,
 'stanley': 855,
 'kubrick': 536,
 '1979': 24,
 'crew': 251,
 'soon': 844,
 'termin': 894,
 'ill': 455,
 'wish': 977,
 'best': 142,
 '1971': 17,
 'execut': 337,
 'compani': 233,
 '1963': 11,
 '1964': 12,
 'british': 166,
 'trial': 924,
 'wilder': 972,
 'kirk': 531,
 'dougla': 301,
 'spi': 850,
 'neighbor': 650,
 'convinc': 241,
 'commit': 231,
 'grace': 403,
 'kelli': 519,
 'develop': 292,
 'film': 352,
 'star': 856,
 'determin': 291,
 'holden': 436,
 '1940': 1,
 'deliv': 281,
 'trap': 920,
 'dean': 274,
 'daniel': 263,
 'colin': 228,
 'plot': 710,
 'build': 177,
 'shah': 823,
 'seri': 815,
 'pianist': 702,
 'report': 757,
 '2013': 56,
 'lone': 575,
 'slowli': 837,
 'get': 390,
 'better': 143,
 'good': 400,
 'innoc': 460,
 'mad': 585,
 'marri': 595,
 'coupl': 247,
 'countri': 246,
 'stay': 860,
 'look': 577,
 'histori': 431,
 'last': 541,
 'deni': 282,
 'six': 836,
 'prison': 725,
 'base': 131,
 'movi': 635,
 'left': 554,
 'journalist': 505,
 'torn': 912,
 'militari': 620,
 '2005': 48,
 'plan': 707,
 'leader': 549,
 'turn': 929,
 'jim': 488,
 'kate': 515,
 'michel': 615,
 '2004': 47,
 'pari': 682,
 'along': 94,
 'audrey': 120,
 'pierr': 703,
 'russian': 790,
 'stolen': 866,
 'del': 280,
 'denni': 283,
 'drug': 305,
 'island': 467,
 'jare': 478,
 'connelli': 238,
 'we': 963,
 'affleck': 72,
 'rd': 745,
 'win': 976,
 'top': 911,
 'toy': 916,
 'warrior': 958,
 'free': 373,
 'king': 530,
 'mel': 609,
 'gibson': 391,
 'simpl': 831,
 'heist': 424,
 'suspect': 878,
 'penn': 693,
 '1992': 35,
 'fellow': 348,
 'street': 871,
 'vincent': 947,
 'adam': 70,
 '1987': 30,
 'soviet': 846,
 'experi': 339,
 '1986': 29,
 'success': 874,
 'claim': 221,
 'murray': 639,
 'roy': 782,
 'mari': 592,
 'brian': 163,
 'dare': 265,
 'mission': 623,
 'back': 124,
 'without': 980,
 'driver': 304,
 'decad': 276,
 'prostitut': 730,
 'albert': 82,
 'brook': 169,
 '1976': 22,
 'con': 234,
 'newman': 654,
 'shaw': 826,
 '1973': 19,
 'bate': 132,
 'western': 967,
 'outlaw': 676,
 'maria': 593,
 'mara': 590,
 'english': 324,
 'unit': 938,
 'led': 552,
 'hawkin': 422,
 'rise': 771,
 'romanc': 780,
 'ensu': 325,
 'cari': 190,
 'grant': 405,
 '1959': 8,
 'person': 696,
 'obsess': 663,
 'gene': 386,
 'reynold': 765,
 'mean': 607,
 'cancer': 184,
 'post': 717,
 '1948': 2,
 'talk': 884,
 'housewif': 443,
 'investig': 464,
 'uncov': 934,
 'final': 353,
 'well': 965,
 'come': 230,
 'carl': 191,
 'miller': 621,
 'trip': 925,
 'kapoor': 514,
 'sharma': 825,
 'indian': 458,
 '1970': 16,
 'hope': 439,
 'african': 73,
 'tour': 914,
 'ali': 89,
 'local': 573,
 'author': 121,
 'woodi': 986,
 '2015': 58,
 'answer': 106,
 'kind': 529,
 'place': 706,
 'befriend': 136,
 'law': 545,
 'unexpect': 936,
 'marriag': 596,
 'india': 457,
 'three': 903,
 'abus': 65,
 'nation': 647,
 'champion': 203,
 'retir': 761,
 'write': 992,
 'case': 194,
 'haunt': 420,
 'jo': 490,
 'alcohol': 83,
 'fighter': 351,
 'older': 667,
 'nick': 656,
 'joel': 494,
 'disappear': 298,
 'hous': 442,
 'true': 927,
 'involv': 465,
 'feder': 347,
 'women': 982,
 'rukh': 785,
 'centuri': 201,
 'busi': 179,
 'lewi': 562,
 'anderson': 98,
 'right': 769,
 'andi': 99,
 'leav': 551,
 'joan': 491,
 'freedom': 374,
 'rupert': 788,
 'bruno': 173,
 'julian': 510,
 'bodi': 152,
 'chanc': 205,
 'break': 162,
 'castl': 195,
 'ed': 311,
 'plummer': 711,
 'ron': 781,
 'howard': 444,
 'arriv': 111,
 'akshay': 79,
 'kumar': 537,
 'london': 574,
 'grow': 409,
 'lo': 572,
 'curti': 259,
 '1996': 39,
 'bank': 129,
 'start': 857,
 'jon': 500,
 'stone': 867,
 'west': 966,
 'job': 492,
 'hackman': 412,
 'professor': 729,
 'miss': 622,
 '1989': 32,
 'christma': 217,
 'parti': 685,
 'alan': 81,
 'hand': 414,
 'caus': 200,
 'andrei': 100,
 'tarkovski': 886,
 'ingmar': 459,
 '1978': 23,
 'johnni': 497,
 'servic': 817,
 'encount': 321,
 'terri': 895,
 'graham': 404,
 'eric': 328,
 'steve': 863,
 'lawyer': 546,
 'depress': 286,
 'children': 214,
 'murphi': 638,
 'town': 915,
 'play': 709,
 'court': 248,
 'spencer': 848,
 'burt': 178,
 'state': 858,
 'femal': 349,
 'band': 127,
 'cold': 227,
 'victor': 945,
 'seek': 811,
 'max': 602,
 '1955': 6,
 'mountain': 633,
 'walter': 954,
 'huston': 451,
 'frame': 367,
 'rival': 772,
 'girlfriend': 394,
 'away': 123,
 'prepar': 720,
 'japanes': 477,
 'singl': 834,
 'rais': 741,
 'role': 778,
 'mutant': 643,
 'laura': 543,
 'allow': 93,
 'within': 979,
 'alien': 90,
 'commun': 232,
 'die': 295,
 'emot': 318,
 'ami': 97,
 'bill': 145,
 'olivia': 671,
 'car': 187,
 'carrol': 193,
 'cathol': 198,
 'rachel': 739,
 'mcadam': 604,
 'gleeson': 395,
 'pregnant': 719,
 'gyllenha': 411,
 'leo': 558,
 'possess': 716,
 'radcliff': 740,
 'emma': 316,
 'watson': 960,
 'grint': 407,
 'unlik': 940,
 'philip': 699,
 'seymour': 822,
 'hoffman': 434,
 'barri': 130,
 'charact': 208,
 'catherin': 197,
 'coen': 226,
 'josh': 504,
 'brolin': 168,
 'ethan': 330,
 'manag': 589,
 'jess': 485,
 'book': 155,
 'hawk': 421,
 'juli': 508,
 'linklat': 568,
 'alejandro': 85,
 'monster': 628,
 'night': 657,
 'taylor': 888,
 'agre': 76,
 'bridg': 164,
 'juliann': 511,
 'wai': 952,
 'leung': 561,
 'wong': 983,
 'despit': 288,
 'jerri': 484,
 'tragedi': 918,
 'spend': 849,
 'togeth': 907,
 'loui': 580,
 'takeshi': 882,
 'result': 760,
 'board': 149,
 'reiner': 753,
 'caught': 199,
 'charli': 211,
 '1982': 26,
 'rock': 777,
 'parker': 684,
 'lynch': 584,
 'televis': 892,
 'rich': 766,
 'ryan': 794,
 'neal': 649,
 'privat': 726,
 '1967': 14,
 'dinner': 297,
 'bu': 176,
 'hollywood': 437,
 'wayn': 962,
 'reveng': 764,
 'across': 68,
 'ex': 336,
 'union': 937,
 'boss': 156,
 'safe': 795,
 'big': 144,
 'jan': 475,
 'hall': 413,
 '1951': 4,
 'psychopath': 733,
 'polit': 714,
 'civil': 220,
 'belov': 139,
 'astronaut': 117,
 'artist': 114,
 'owen': 677,
 'wilson': 975,
 'julia': 509,
 'member': 610,
 'bradley': 161,
 'cooper': 242,
 'everi': 334,
 'spike': 852,
 'famou': 343,
 'luci': 583,
 'captain': 185,
 'white': 968,
 'north': 661,
 'fan': 344,
 'cross': 254,
 'marc': 591,
 'smith': 839,
 'resid': 759,
 'yun': 999,
 'clive': 225,
 'suffer': 875,
 'emmanuel': 317,
 'craig': 249,
 'pirat': 704,
 'depp': 285,
 'nelson': 651,
 'cruis': 256,
 'jane': 476,
 'mike': 618,
 'convict': 240,
 'magic': 586,
 'dustin': 306,
 'hold': 435,
 'robberi': 774,
 'prove': 732,
 'norman': 660,
 'katharin': 516,
 'anna': 104,
 'hepburn': 427,
 'jacqu': 471,
 'taika': 879,
 'waititi': 953,
 'dan': 261,
 'send': 812,
 'patricia': 690,
 'mr': 636,
 'justin': 512,
 'bacon': 125,
 'alfonso': 87,
 'cuar': 257,
 'mass': 599,
 'sex': 821,
 'divorc': 300,
 'marx': 598,
 'happen': 416,
 'denzel': 284,
 'la': 539}

## **Model training**

In [113]:
# calculating cosine_similarity
from sklearn.metrics.pairwise import cosine_similarity
cosine_matrix = cosine_similarity(vectorized_data)

In [115]:
class MovieRecommender:
    def __init__(self, cosine_matrix, df):
        self.cosine_matrix = cosine_matrix
        self.df = df

    def predict_movies(self, series_title):
        try:
            index = self.df[self.df['Series_Title'] == series_title].index[0]
            movies = sorted(list(enumerate(self.cosine_matrix[index])), reverse=True, key=lambda x: x[1])[:5]

            for item in movies:
                print(self.df.iloc[item[0]].Series_Title)

        except IndexError:
            print(f"Movie not found with the title: {series_title}")

In [123]:
model = MovieRecommender(cosine_matrix,df)

In [122]:
model.predict_movies("The Lord of the Rings: The Return of the King")

The Lord of the Rings: The Return of the King
The Lord of the Rings: The Two Towers
The Lord of the Rings: The Fellowship of the Ring
The Hobbit: The Desolation of Smaug
The Hobbit: An Unexpected Journey

## **exporting model**

In [124]:
import pickle
with open('model.pkl', 'wb') as file:
  pickle.dump(model, file)